<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Country information</title>
</head>
<body>
<form action="find" method="post">
    <table>
        <tr>
            <td><input type="text" name="name" placeholder="Country name"></td>
            <td></td>
            <td><input type="submit" value="Submit"></td>
        </tr>

    </table>
</form>
</body>
</html>